.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
  width: 100%;
  padding: 12px 13px;
  background-color: khaki;
}

.heading {
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(106, 161, 215);
}
